@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
<style>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background: #080808;
  width: 100%;
  height: 700px;
}

.menu {
  max-width: 1100px;
  height: 70px;
  background: #1b1b1b;
  margin: auto;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
  padding-left: 95px;
  padding-right: 95px;
}

.menu ul {
  display: flex;
  gap: 35px;
  list-style: none;
}

.menu ul a {
  font-size: 14px;
  color: #9C9C9C;
  text-decoration: none;
  display: block;
  padding: 25px 20px;
  transition: all 0.5s ease;
  font-family: ibm plex mono
}

.menu ul a:hover {
  color: #080808;
  background: #9c9c9c;
}

.menu .icons {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all 0.5s ease;
}

.menu .icons a:hover {
  transform: scale(1.5);
}

.principal {
  width: 888px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 80px;
  gap: 32px;
}

.principal_description {
  padding-right: 46px;
}

.principal_description h1 {
  font-weight: 900;
  font-size: 44px;
  color: #fff;
  font-family: raleway;
  margin-bottom: 20px;
}

.principal_description p {
  color: #9C9C9C;
  font-size: 14px;
  font-family: ibm plex mono;
  line-height: 1.71;
  margin-bottom: 30px;
  letter-spacing: 0.6px;
}

.principal_description a {
  padding: 21px 64px;
  background: #3F8E00;
  border: solid 1px;
  border-color: #62BA1B;
  border-radius: 4px;
  color: #fff;
  font-family: Raleway;
  display: block;
  width: fit-content;
  text-decoration: none;
  letter-spacing: 3px;
  box-shadow: 0px 5px 24px -4px #3F8E00;
}

.alliances {
  margin-top: 57px;
  width: 888px;
  margin: auto;
}

.alliances_header p {
  color: #fff;
  font-family: ibm plex mono;
  font-size: 14px;
  margin-bottom: 20px;
}

.alliances_logos {
  display: flex;
  justify-content: space-between;
}

.alliances_logos a {
  width: 160px;
  height: 60px;
  border: 1px solid #1b1b1b;
  background: #080808;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.5s ease;
}

.alliances_logos a:hover {
  transform: scale(1.2);
  background: #9C9C9C;
}

.Cases_Studies {
padding-top: 125px;
}

.Cases_Studies_header {
  text-align: center;
  margin-bottom: 60px;
}

.Cases_Studies_header h2,
.Case_Study_descripcion h2 {
font-size: 34px;
font-family:Raleway ;
  font-weight: 800;
  color: #080808;
  margin-bottom: 10px;
}

.Cases_Studies_header p,
.Case_Study_descripcion p {
  font-size: 14px;
    font-family: ibm plex mono;
  color: #9C9C9C;
    line-height: 24px;
}

.Case_Study_naranja {
margin-top: 100px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 45px;
} 

.Case_Study_category{
  font-family: ibm plex mono;
  color: #FFA217;
  font-weight: bold;
background-color: #fff6e9;
text-decoration: none;
width: 76px;
border-radius: 6px;
display: flex;   
}

.Case_Study_boton{
  font-family: ibm plex mono;
color: #fff;
font-weight: bold;
text-decoration: none;
 background-color: #FFA217;
  width: 189px;
   height: 40px;
  display: flex;
   align-items: center;
  justify-content: center;
    border-radius: 4px;
margin-top: 35px;     
}


.Case_Study_azul {
margin-top: 100px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 45px;
  flex-direction: row-reverse;
} 

.Case_Study_categorya{
  font-family: ibm plex mono;
  color: #000aff;
  font-weight: bold;
background-color:#D0E6FF ;
text-decoration: none;
width: 76px;
border-radius: 6px;
display: flex;   
}

.Case_Study_botona{
  font-family: ibm plex mono;
color: #fff;
font-weight: bold;
text-decoration: none;
 background-color: #000aff;
  width: 189px;
   height: 40px;
  display: flex;
   align-items: center;
  justify-content: center;
    border-radius: 4px;
margin-top: 35px;     
}

.Case_Study_verde {
margin-top: 100px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 45px;
} 

.Case_Study_categoryv{
  font-family: ibm plex mono;
  color: #2AB090;
  font-weight: bold;
background-color:#E0FFF8 ;
text-decoration: none;
width: 76px;
border-radius: 6px;
display: flex;  
}

.Case_Study_botonv{
  font-family: ibm plex mono;
color: #fff;
font-weight: bold;
text-decoration: none;
 background-color: #2AB090;
  width: 189px;
   height: 40px;
  display: flex;
   align-items: center;
  justify-content: center;
    border-radius: 4px;
margin-top: 35px; 
margin-bottom: 85px;    
}









